<div>
    <navigation-bar></navigation-bar>

    <button type="button" class="btn btn-info btn-lg" ng-click="newPoll()">New Poll</button>

	<div class="label label-warning error-message">{{ errorMessage }}</div>

    <header>My Polls</header>

    <div>
        <div class="poll" ng-repeat="poll in polls">
            <a href="#/polls/vote/{{ poll.id }}"><button type="button" class="btn btn-primary btn-lg">Vote</button></a>
            <a href="#/polls/stats/{{ poll.id }}"><button type="button" class="btn btn-success btn-lg">Result</button></a>
            <button type="button" class="btn btn-danger btn-lg" ng-click="delete(poll.id)">x</button>
            <span class="poll-title">{{ poll.question }}</span>
        </div>
    </div>
</div>