<div ng-controller="PollController">
    New Poll
    <div class="form-group">
        <label for="question">Question:</label>
        <input type="text" class="form-control" ng-model="poll.question">
    </div>

    <fieldset  data-ng-repeat="choice in choices">
        <input type="text" ng-model="choice.name" name="" placeholder="Enter choice">
        <button type="button" class="btn btn-danger" ng-show="$last" ng-click="removeChoice()">-</button>
    </fieldset>

    <button class="add-choice" ng-click="addChoice()">Add Choice</button>
</div>