<div>
    <navigation-bar></navigation-bar>

    <a href="#/account" class="btn btn-default btn-lg">Back to Account</a>

    <header>{{ question }}</header>

    <form novalidate name="form" ng-submit="vote()" method="post" class="text-center">

        <fieldset ng-repeat="choice in choices">
                <p>
                    <big>
                        <input type="radio" ng-model="choice" name="vote" value="{{ choice }}" ng-checked=false />
                        <span ng-bind="choice"></span>
                    </big>
                </p>
        </fieldset>

        <div>
            <input type="submit" ng-disabled="!form.$valid" class="btn btn-primary submit-btn" value="Submit" />
        </div>
    </form>
</div>